<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</head>
<style>
  .box {
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
    height: 40%;
    width: 40%;
    margin: 10px;
  }

  .container {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #image {
    height: 50%;
    width: 100%;
  }

  .button {
    background-color: rgb(48, 48, 226);
    border: 1px solid gray;
    border-radius: 10px;
    height: 2rem;
    color: white;

  }
</style>
<header>
  <%- include("header"); %>
</header>

<body>
  <div class="container">
    <% for(let item of products) {%>
    <div class="box">
         <image id="image" src="<%= item?.img %>" alt="items" />
        <h3><%= item?.name %></h3>
        <p><%= item?.description %></p>
        <h5>Price: <%= item?.price %></h5>
        <input type="hidden" id="hidden" value=<%= item?.id %> />        
        <button class="button" type="submit" id="add" >Add to cart</button>
    </div>

    <%} %>
  </div>
</body>
<footer>
  <%- include("footer"); %>
</footer>

</html>