<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="/js/index.js"></script>
    </head>
    <style>
        #box{
            padding:1rem;
            border:1px solid gray;
            border-radius: 10px;
            overflow:hidden;
            height:30%;
            width:30%;
        }
        .container{
            height:100vh;
            width:50%;
            padding:2rem;
        }
        #image{
            height:50%;
            width:50%;
        }

        #aside{
            background-color: bisque;
            height:50%;
            width:auto;
        }
        
    </style>
    <header>
        <%- include("header"); %>
    </header>
    <body>
        <div class="container">
            <div id="box">
                <image id="image" src="<%= product?.image %>" alt="items" />
                <h3><%= product?.name %></h3>
                <p><%= product?.description %></p>
                <h5>Price: <%= product?.price %></h5>
                <button type="submit" id="add">Add to Cart</button>
             </div>
        </div>
        <aside>
            <%- include("cart"); %> 
        </aside>
    </body>
    <footer>
        <%- include("footer"); %>
    </footer>
</html>